@model BLL.Command.VehiculeCommand

<partial name="_navbarAdmin" />


<h2 class="mt-5">Modifier un véhicule</h2>

<form method="post" action="updateVehicule" onsubmit="return validationAlert();" class="mt-5">
    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="number" class="form-control" asp-for="idCommand" readonly>
    </div>

    <div class="mb-3">
        <label class="form-label">Lien de la photo du véhicule</label>
        <input type="text" class="form-control" asp-for="photoCommand" accept="image/*" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Marque</label>
        <input type="text" class="form-control" asp-for="marqueCommand" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Type de moteur</label>
        <select class="form-control" asp-for="typeMoteurCommand" required>
            <option value="Manuel" selected="@(Model != null && Model.typeMoteurCommand == "Manuel")">Manuel</option>
            <option value="Automatique" selected="@(Model != null && Model.typeMoteurCommand == "Automatique")">Automatique</option>

        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Prix /jour</label>
        <input id="prix" type="text" class="form-control" oninput="inputValidation()" asp-for="prixCommand" required>
        <div id="prixMismatch" style="color: red;"></div>
    </div>
    <div class="mb-3">
        <label class="form-label">Disponibilité</label>
        <select class="form-control" asp-for="estDispoCommand" required>
            <option value="Oui" selected="@(Model != null && Model.estDispoCommand == "Oui")">Oui</option>
            <option value="Non" selected="@(Model != null && Model.estDispoCommand == "Non")">Non</option>

        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Promotion</label>
        <select class="form-control" asp-for="promoCommand" required>
            <option value="Oui" selected="@(Model != null && Model.promoCommand == "Oui")">Oui</option>
            <option value="Non" selected="@(Model != null && Model.promoCommand == "Non")">Non</option>

        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Nouveau prix /jour</label>
        <input id="prixPromo" type="text" class="form-control" oninput="inputValidation()" asp-for="promoPrixCommand" required>
        <div id="prixPromoMismatch" style="color: red;"></div>
    </div>


    <button type="submit" class="btn btn-primary">Sauvegarder</button>
    <a asp-controller="Vehicule" asp-action="Index" class="btn btn-primary m-md-1">Retour</a>

</form>



<script>
    function validationAlert() {
        var prix = document.getElementById("prix").value;
        var prixMismatch = document.getElementById("prixMismatch").textContent;
        var prixPromo = document.getElementById("prixPromo").value;
        var prixPromoMismatch = document.getElementById("prixPromoMismatch").textContent;


        if (prixMismatch === "Le prix ne peut pas etre négatif.") {
            alert("Le prix ne peut pas etre négatif.")
            return false;
        } else if (prixPromoMismatch === "Le nouveau prix ne peut pas etre plus grand ou identique à l'ancien.") {
            alert("Le nouveau prix ne peut pas etre plus grand que l'ancien.")
            return false;
        } else {
            return true;
        }
    }

    function inputValidation() {
        var prix = document.getElementById("prix").value;
        var prixPromo = document.getElementById("prixPromo").value;


        if (prix < 0) {
            document.getElementById("prixMismatch").textContent = "Le prix ne peut pas etre négatif.";
        } else {
            document.getElementById("prixMismatch").textContent = "";
        }
        if (prixPromo != 0 && prixPromo >= prix) {
            document.getElementById("prixPromoMismatch").textContent = "Le nouveau prix ne peut pas etre plus grand ou identique à l'ancien.";
        } else {
            document.getElementById("prixPromoMismatch").textContent = "";
        }
        return true;
    }
</script>