@model List<BLL.Representation.CompteRepresentation>

<h2 class="mt-5 mb-5">Comptes</h2>

@if (Model == null || Model.Count == 0)
{
    <p>Aucun compte trouvé.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Cin</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var compte in Model)
            {
                <tr>
                    <th scope="row">@compte.idRepresentation</th>
                    <td>@compte.usernameRepresentation.First().ToString().ToUpper()@compte.usernameRepresentation.Substring(1)</td>
                    <td>@compte.passwordRepresentation.First().ToString().ToUpper()@compte.passwordRepresentation.Substring(1)</td>
                    <td>@compte.nomRepresentation.First().ToString().ToUpper()@compte.nomRepresentation.Substring(1)</td>
                    <td>@compte.prenomRepresentation.First().ToString().ToUpper()@compte.prenomRepresentation.Substring(1)</td>
                    <td>@compte.ageRepresentation</td>
                    <td>@compte.emailRepresentation</td>
                    <td>@compte.cinRepresentation</td>
                    <td>@compte.telephoneRepresentation</td>
                    <td>
                        <a class="btn btn-primary" href="*">Modifier</a> @* href="GetUpdate/@compte.idRepresentation" *@
                        <a class="btn ml-0 btn-danger" href="*">Supprimer</a> @* href="GetDelete/@compte.idRepresentation" *@
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a asp-controller="Compte" asp-action="add" class="btn btn-primary">Ajouter un compte</a>
