@model List<BLL.Representation.DemandeRepresentation>

<partial name="demandeNavbar" />


<h2 class="mt-5 mb-5">Demandes</h2>

@if (Model == null || Model.Count == 0)
{
    <p>Aucun demande trouvé.</p>
}
else
{
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Date de debut</th>
            <th scope="col">Date de fin</th>
            <th scope="col">Prix total</th>
                <th scope="col">Id du proprietaire</th>
                <th scope="col">Id du vehicule</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
        <tbody>
        @foreach (var demande in Model)
        {
                <tr>
                <th scope="row">@demande.idRepresentation</th>
                <td class="align-middle">@demande.dateDebutRepresentation</td>
                <td class="align-middle">@demande.dateFinRepresentation</td>
                <td class="align-middle">@demande.prixTotalRepresentation</td>
                <td class="align-middle">@demande.compteIdRepresentation</td>
                <td class="align-middle">@demande.vehiculeIdRepresentation</td>

                    <td class="text-center align-middle">
                        <a asp-controller="Demande" asp-action="updateDemande" asp-route-id="@demande.idRepresentation" class="btn btn-primary">Modifier</a>
                        <a class="btn ml-0 btn-danger" asp-controller="Demande" asp-action="deleteDemandeView" asp-route-id="@demande.idRepresentation" >Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a asp-controller="Demande" asp-action="addDemande" class="btn btn-primary">Ajouter une demande</a>
